{% extends 'base.html' %}

{% block title %}
Запросы на дружбу
{% endblock title %}

{% block content %}
<div style="margin-top:20px; margin-left:20px">
    {% if is_empty %}
        <h1>Нет приглашений дружбы...</h1>
    {% endif %}
    {% for obj in qs %}
    <div class="row justify-content-start">
        <div class="col-3">
            <img width="200" height="200" src={{obj.avatar.url}}>
        </div>
        <div class="col-9">
            <ul class="list-unstyled">
                <li><h3>{{obj.user}}</h3></li>
                <li>{{obj.bio}}</p></li>
                <li>
                    <a href="{{obj.get_absolute_url}}">
                        <button class="btn btn-success">Посмотреть профиль</button>
                    </a>
                </li>
                <li>
                    <form action="{% url 'profiles:accept-invite' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{obj.pk}}>
                        <button type="submit" class="btn btn-success">
                            Принять дружбу
                        </button>
                    </form>
                </li>
                <li>
                    <form action="{% url 'profiles:reject-invite' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{obj.pk}}>
                        <button type="submit" class="btn btn-danger">
                            <i class="close icon"></i>
                            Отклонить дружбу
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

