{% extends 'base.html' %}

{% block title %}
Мой профиль
{% endblock title %}

{% block content %}
{% include 'modals/edit_profile_modal.html' %}
<div style="margin-top:20px; margin-left:20px">
    <ul class="list-unstyled">
      {% if confirm %}
        Ваш профиль был отредактирован
      {% endif %}
      <li><h3>Мой профиль: {{request.user}}</h3></li>
      <li>
          <div class="col-4">
            <img width="130" height="130" src={{profile.avatar.url}}>
              <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Редактировать профиль
              </button>
          </div>
      </li>
        <li>
          <div class="col-8">
              <ul class="list-unstyled">
                  <li>Никнейм: {{profile.user}}</li>
                  <li>Имя: {{profile.first_name}}</li>
                  <li>Фамилия: {{profile.last_name}}</li>
                  <li>О себе: {{profile.bio}}</li>
                  <li>Количество друзей: {{profile.get_friends_no}}</li>
                  <li>Друзья: </li>
                    <ul class="list-unstyled">
                      {% for friend in profile.get_friends %}
                        <li>{{friend}}</li>
                      {% endfor %}
                    </ul>
                  <li>Количество постов: {{profile.get_posts_no}}</li>
                  <li>Лайков отправлено: {{profile.get_likes_given_no}}</li>
                  <li>Лайков получено: {{profile.get_likes_recieved_no}}</li>
              </ul>
          </div>
        </li>
    </ul>
</div>
{% endblock content %}