{% extends 'base.html' %}

{% block title %}
Все пользователи
{% endblock title %}

{% block content %}
<div style="margin-top:20px; margin-left:20px">
    {% if is_empty %}
        <h1>Нет пользователей</h1>
    {% endif %}
    {% for obj in object_list %}
    <div class="row justify-content-start">
        <div class="col-2">
            <img width="150" height="150" src={{obj.avatar.url}}>
        </div>
        <div class="col-10">
            <ul class="list-unstyled">
                <li><h3>{{obj.user}}</h3></li>
                <li>{{obj.bio}}</li>
                <li><a href={{obj.get_absolute_url}}><button class="btn btn-success">Посмотреть профиль</button></a></li>
                {% if obj.user not in rel_receiver and obj.user not in rel_sender %}
                    <li>
                        <form action="{% url 'profiles:send-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="btn btn-success">Добавить в друзья</button>
                        </form>
                    </li>
                {% endif %}
                {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                    <li>
                        <button class="btn btn-success">Ожидание подтверждения дружбы</button>
                    </li>
                {% endif %}
                {% if request.user in obj.friends.all %}
                    <li>
                        <form action="{% url 'profiles:remove-friend' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="btn btn-success">Удалить из друзей</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
