{% extends 'base.html' %}

{% block title %}
delete post
{% endblock title %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if 'warning' in message.tags %}
            {{message}}
        {% endif %}
    {% endfor %}
{% endif %}

{% if not messages %}
    <h3>Удалить пост?</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Вы уверены, что хотите удалить пост?</p>
        <button type="submit" class="btn btn-success">Подтвердить</button>
    </form>
{% endif %}

{% endblock content %}

